# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dataset Files
AI_Human.csv
dataset/test_tiny/
dataset/test/
dataset/train/
AI_Human.csv

# Table files
human_compression_table.bin
chatted_compression_table.bin